.cards--item--pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 18px;
  margin-left: 20em;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}
